# ===========================
# IGNORAR TODA LA DATA
# ===========================
data/**

# ===========================
# PERMITIR SOLO 01_RAW COMPLETO
# ===========================
!data/01_raw/**
!data/01_raw/.gitkeep

# ==============================
# IGNORAR COMPLETAMENTE .dvc Y RELACIONADOS
# ==============================
.dvc/
.dvcignore
*.dvc
.cache/
